$background : #F5F5F7;
$container : #FFFFFF;
$grey : #C0C0C0;
$accent : #466bff;
$iconsFA : $accent;
$bordercolor : #466bff1f;

$bg-aqi-1: #89e589;
$on-bg-aqi-1: #1f331f;
$bg-aqi-2: #e5dd89;
$on-bg-aqi-2: #33311f;
$bg-aqi-3: #e5c089;
$on-bg-aqi-3: #332b1f;
$bg-aqi-4: #e58989;
$on-bg-aqi-4: #331f1f;
$bg-aqi-5: #e589b7;
$on-bg-aqi-5: #331f29;

$font-text : 'Nunito';
$font-title : 'Faktum';

$radius-outer : 24px;
$radius-inner : $radius-outer / 2;
$radius-pill: 500px;
$radius-circle: 50%;



