$couleurPrimaire :  #001F9A; 
$couleurPrimaireLight : #BBBBF1; //14 shades en moins 
$couleurSecondaire :#AF5AF5;
$couleurSecondaireLight :#DED9E7;

$couleurnoire : #1A1D22;
$couleurTertiaireLight :#ffffff ;

$couleurDetails : #e8d5b5 ;

$fontsizeTitre: 3.5rem;

$mx-desktop : 1120px;

$desktop : 1330px;
$tablet: 960px;
$mobile: 320px;
