$couleur1 :  #001F9A; 

$couleur2 :#9f89f5;

$couleurblack : #1A1D22;
$couleurwhite :#ffffff ;
$couleurgrey: #F1F5FB;


$fontsizeTitre: 3.5rem;

$mx-desktop : 1120px;

$desktop : 1330px;
$tablet: 960px;
$mobile: 320px;
